/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* STILI GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-width: 900px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#dcdbd1, #d7dbd7,#d4dbdb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boolzap {
  min-width: 900px;
  flex-basis: 65%;
  height: calc(100vh - 10%);
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

img {
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}

/* SECTIONS */
section.side-bar {
  height: 100%;
  flex-basis: 35%;
  background-color: white;
}

section.chat-room {
  height: 100%;
  flex-basis: 65%;
  background-image: url(../img/mine.jpg);
  border-left: 1px solid #e0dfdf;
}

section header {
  height: 80px;
  width: 100%;
  background-color: #eaeaea;
}

section header .single-contact {
  border-bottom: none;
}

section header .name-subtitle {
  padding: 10px;
}

section header .time-icons {
  line-height: 60px;
  font-size: 20px;
  color: #b1b1b1;
}

section header .time-icons i {
  margin: 0 5px;
}

.search input,
.write-chat input {
  width: 80%;
  height: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
/* FINE STILI GENERALI */

/* CLASSI DA RIUTILIZZARE */
/* Singolo contatto */
.single-contact {
  height: 100%;
  padding: 10px;
  border-bottom: 0.5px solid #f9f9f9;
}

.single-contact .avatar {
  height: 100%;
  padding-right: 10px;
}

.single-contact .avatar img {
  border-radius: 50%;
}

.single-contact .avatar, .name-subtitle {
  float: left;
}

.single-contact .time-icons {
  align-self: flex-end;
  float: right;
}

.subtitle {
  color: #c1d0bb;
  font-size: 13px;
}

.subtitle-dark-grey {
  color: grey;
  font-size: 14px;
}

.time { /* DA FARE: decidere se assemblare con classe .subtitle */
  color: #c1d0bb;
  font-size: 13px;
}
/* Fine Singolo contatto */
/* FINE CLASSI DA RIUTILIZZARE */


/* SECTION SIDE-BAR */
.contacts {
  height: calc(100% - 80px);
}

.contacts ul {
  height: calc(100% - 110px);
  overflow: auto;
}

.contacts ul li {
  height: 60px;
}

.contacts ul li:hover {
  background-color: lightgrey;
}

.contacts ul li:hover .subtitle,
.contacts ul li:hover .time {
  color: white;
}

#notifica {
  background-color: #8edafc;
  height: 60px;
}

#notifica .no-ring {
  float: left;
  background-color: white;
  color: #8edafc;
  padding: 3px;
  line-height: 35px;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  text-align: center;
  margin-right: 10px;
}

.search {
  background-color: #fafafa;
  padding: 5px;
  height: 50px;
}

.search i {
  width: 18%;
  background: white;
  height: 100%;
  text-align: center;
  padding: 10px;
  margin-right: 0;
}
/* FINE SECTION SIDE-BAR */

/* SECTION CHAT-ROOM */
.chat-room .chat {
  width: 100%;
  height: calc(100% - 80px);
}

.chat-room .read-chat {
  height: calc(100% - 80px);
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.chat-room .read-chat .texts {
  display: flex;
  flex-direction: column;
}

.single-text {
  /* flex-basis: 20%; */
  padding: 10px 10px 5px 10px;
  font-size: 15px;
  border-radius: 8px;
  width: 35%;
  margin: 10px 0;
}

.single-text .time {
  text-align: end;
}

.green-text {
  align-self: flex-end;
  background-color: #d5f9ba;
}

.white-text {
  align-self: flex-start;
  background-color: white;
}

.chat-room .write-chat {
  height: 80px;
  width: 100%;
  background-color: #f3eeeb;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.chat-room .write-chat i {
  font-size: 24px;
  color: #6b7376;
}


/* FINE SECTION CHAT-ROOM */

/* TEMPLATE */
.template {
  display: none;
}
/* FINE TEMPLATE */
