/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* STILI GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-width: 900px;
  width: 100%;
  height: 100vh;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boolzap {
  width: 600px;
  height: 500px;
  background-color: coral;
}

main {
  width: 100%;
  height: 100%;
  background-color: gold;
  display: flex;
}

section.side-bar {
  height: 100%;
  background-color: lightblue;
  flex-basis: 35%;
}

section.chat-room {
  height: 100%;
  background-color: pink;
  flex-basis: 65%;
}

section header {
  height: 80px;
  width: 100%;
  background-color: brown;
  border: 1px solid black;
}
/* FINE STILI GENERALI */
